html {
  background: #FAAD37 url(../images/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.horizontal_container {
  text-align: center;
}

.social_media_button {
  padding-left: 9;
  padding-right: 9;
}

.center-div {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#social_media_container {
  padding-top: 36px;
}
